.form{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -160px;
  width: 320px;
  height: 320px;
  padding: 36px;
  box-shadow: 0 0 100px rgba(0,0,0,.08);
  button {
    width: 100%;
    color:red;
  }
}
.logo{
  text-align: center;
  cursor: pointer;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome{
  height:60px;
  width:100%;
  background: url(../assets/logo.png) no-repeat center 0;
  background-size: 180px auto;
}
.buttons{
  width:100% !important;
  color:red;
}
