.header{
  box-shadow:4px 4px 40px 0 rgba(0,0,0,0.05);
  position: relative;
  display: flex;
  justify-content:flex-end;
  height: 40px;
  z-index: 9;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.rightWarpper{
  display:flex;
  align-items:center;
}
.outPut{
  border:none;
}
.outPut_1{
  border:none;
  padding:0 0 0 5px !important;
}
.names{
  margin-left:10px
}

.InputGroup>span{
  margin:10px 0;
  width:350px;
}
